*.o
*~
*.user
*Makefile

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
install_manifest.txt
version_string.hpp

# Qtcreator files
CMakeLists.txt.user*
sandwiches-game.cbp

# Third party libraries
third-party

# Temporal directory
temp-dependencies

# Linux desktop files
*.desktop

# Generated packages.
sandwiches-game-*.deb
sandwiches-game-*.zip

# Generated binaries
bin/
sandwiches-game-launcher

# Logs
sandwiches_game.log

# Savegames
share/sandwiches-game/savegames/
